.leftcolumn {
    line-height: 0px;
    font-size: 36px;
    min-height: 46px;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 4px groove rgba(184, 121, 226, 0.774);
    background-color: rgba(177, 177, 177, 0.329);
    z-index: 999999999999
}


/*div{overflow:scroll;}*/

html {
    cursor: url("mus.png"), text;
}

table tr.list:nth-child(2n) td {
    background-color: #666;
}